.container {
  background-color: #f6f7fb;
  border-top: 1px solid #e7eaf5;
  height: 90vh;
  width: 100vw;
  top: 4rem;
  display: flex;
  /* flex-wrap: wrap; */
  /* position: absolute */
}

@media screen and (min-width: 320px) {
    html {
      font-size: 12px;
    }
}

@media screen and (min-width: 667px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}